<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="cardStyle.css">
        <title>Flexbox</title>
    </head>
    <body>
        <div id="main-container"> 
        <header>
            <div id="logo-container">
                <img id="logora" 
                src="./assets/images/rad logo.jpeg" alt="logora">
            </div>

            <div id="options-container">
                <button>
                   <span>Inicio</span> 
                </button>
                <button>
                    <span>Productos</span>
                </button>
                <button>
                    <span>Ayuda</span>
                </button>
                
            </div>

            <div id="profile-container">
                <div id="name">
                    <span>Wendy Acho Vargas</span>
                </div>
                <img id="profile-image"
                src="./assets/images/profile.png" alt="profile-image">
            </div>
        </header>

        <main>
            <div class="product-card">
               <img src="" alt="">
               <div>caracteristicas</div>
            </div>

            <div class="product-card">
                <img src="" alt="">
                <div>caracteristicas</div>
             </div>

             <div class="product-card">
                <img src="" alt="">
                <div>caracteristicas</div>
             </div>

        </main>

        <footer>FOOTER</footer>
        </div>
    </body>
</html>